@import url('/fonts/fonts.css');

body {
  margin: 0;
  background-color: #C5E9FF;
  font-family: 'Roboto';
}

h1 {
  font-weight: 300;
  font-size: 36px;
}

button {
  cursor: pointer;
}

input {
  text-indent: 20px;
}

button, input {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1rem;
}